/*El CSS se ha organizado con la estructura de Nijin Vinodan
------------------------------------
|     Posición y visibilidad        |  
-------------------------------------
|      Tamaño y propiedades caja    |
-------------------------------------
|       Background y shadow         |
------------------------------------
|         Transformaciones          |
-------------------------------------
|        Overflow y opacidades...   |
-------------------------------------

*/

@font-face {
  font-family: Gilroy;
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: Chronicle;
  src: url(./assets/fonts/Chronicle-Display-Roman.otf);
}

:root {
  --main-bg-color: #0b1d26;
  --primary-color: #fff;
  --second-color: #fbd784;
  background-color: var(--main-bg-color);
  color: var(--primary-color);
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active,
li {
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
}

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin-top: 64px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Gilroy;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-decoration: none;
}

nav .menu {
  display: none;
  width: 30px;
  transform: scaleX(-1);
  object-position: center;
}

nav .account {
  display: flex;
  align-items: center;
  gap: 8px;
}

/*bg images*/
.background {
  position: absolute;
  width: 100%;
  height: 1500px;
  overflow: hidden;
}

.background .desaturate {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    330deg,
    rgba(11, 29, 38, 0) 31.06%,
    #0b1d26 108.93%
  );
}

.background .sky {
  background-image: url(./assets/bg-sky.webp);
  width: 100%;
  height: 600px;
  background-size: cover;
  position: absolute;
}

.background .mountains {
  background-image: url(./assets/bg-mountains.webp);
  top: 10%;
  width: 100%;
  height: 1300px;
  background-size: cover;
  position: absolute;
  transition: 1s;
}

.background .grass {
  background-image: url(./assets/bg-grass.webp);
  top: 35%;
  width: 100%;
  background-size: cover;
  height: 800px;
  position: absolute;
  transition: 1s;
}

.background .gradient {
  position: absolute;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 61.38%);
  bottom: 0px;
}

/* aside */

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  right: 0;
  border-right: 3px solid white;
  margin: 40vh 80px;
  padding: 20px 30px 20px 0px;
  font-family: Gilroy;
}

aside li:not(li:first-child) {
  padding-top: 20px;
  text-align: end;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  padding: 0 20% 0;
  /* padding-left: 20%;
  padding-right: 20%; */
}

#hero > * {
  display: flex;
  flex-flow: column;
  z-index: 2;
  width: 70%;
  /* gap: 0%; */
}

.line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  /* gap:32px; */
}
.line-container .line {
  width: 72px;
  height: 2px;
  background-color: var(--second-color);
}

.line-container .subtitle {
  order: 0;
  text-transform: uppercase;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6px;
  color: var(--second-color);
}

#hero h1 {
  order: 1;
  text-transform: capitalize;
  font-family: Chronicle;
  font-size: 5em;
  line-height: 100px;
}
.scroll {
  order: 2;
  display: flex;
  align-items: center;
  font-family: Gilroy;
  gap: 5%;
}


.content-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  gap: 200px;
  /* margin-bottom: 300px; */
}
.content {
  position: relative;
  display: flex;

  /* top: 200px; */
  z-index: 2;
  max-width: 100vw;
  height: fit-content;

  align-items: center;
  column-gap: 10%;
  padding-left: 200px;
  padding-right: 200px;
}

.number {
  position: absolute;
  left: 5vw;
  top: -5vh;
  font-family: Gilroy;
  font-size: 240px;
  line-height: 240px;
  opacity: 0.1;
}

.title {
  display: flex;
  order: 1;
  font-family: Chronicle;
  font-size: 64px;
}
.text-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  font-family: Gilroy;
  line-height: normal;
  gap: 27px;
}
.text-container p {
  order: 2;
}

.image-content {
  min-width: 400px;
  height: 100%;
}

.readmore {
  display: flex;
  order: 3;
  gap: 16px;
}

.readmore a {
  color: var(--second-color);
}

footer {
  
  display: flex; 
  bottom: 0;
  flex-direction: row;
  max-width: 100%;
  height: auto;
  font-family: Gilroy;
  justify-content: center;
  padding: 15%;
  gap:50px;
}

footer .logo {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
  flex-grow: 1;
}
footer > .logo ul {
    font-family: Gilroy;
    font-size:1.1em;
    display: flex;
    gap:10px;
    flex-flow: column;
} 
/* footer .logo > ul > * {
  min-width: 50px;
  font-family: Gilroy;
  font-size: 0.8em;
  display: flex;
  flex-flow: column;
} */

footer .logo li:last-child{
  font-size: 0.8em;
}

/*Añadimos nowrap para que el texto no se encoja*/
footer .blog,
footer .more {
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  gap: 10px;
  font-family: Gilroy;
  font-size: 0.8em;
  color: var(--second-color);
  width: 20%;
}

footer .blog h3, footer .more h3{
  color: var(--second-color);
}

@media all and (max-width: 1300px) {
  aside {
    display: none;
  }
  .content {
    padding-left: 100px;
    padding-right: 100px;
    column-gap: 10%;
  }
  

}

.title {
  font-size: 50px;
}

@media all and (max-width: 1050px) {
  .content-container {
    column-gap: 100px;
    /* margin-bottom: 500px; */
    flex-wrap: wrap;
  }
  .content {
  
    gap: 40px;

    justify-content: center;
  }

  .image-content {
    object-fit: cover;
    width:100%;
    height: auto;
  }

 
  /* footer:nth-child(1),
  footer:nth-last-child() {
    display: flex;
    flex-direction: row;
  } */
  #hero > * {
    width: 100%;
  }
  #hero h1 {
    font-size: 4.5em;
    line-height: 100px;
  }

  
}

@media all and (max-width:951px){

  .content{
    flex-wrap: wrap;
    gap: 100px;
  }
  .image-content {
   width:70%;
  }

}

@media all and (max-width: 813px) {
  nav .menu {
    display: block;
  }

  nav ul,
  nav .account {
    display: none;
  }

  #hero > * {
    width:100%;
  }

  #hero h1{
    font-size:4em;
    line-height: 80px;
  }


}
@media all and (max-width:765px){
  footer{
gap:5%;
  }
      
      footer .logo{
        width:100%;
        font-size: .9em;
      }
      footer .blog, footer .more{
        width:fit-content;
      }
     
}

@media all and (max-width: 600px) {
  /* header{
    padding:0 10% 0 10%;
  } */
  nav .menu {
    display: block;
  }

  nav ul,
  nav .account {
    display: none;
  }
  .grass{
    background-position: 15%;
    transition: 1s;
  }
  .mountains{
    background-position: 15%;
    transition: 1s;
  }
#hero {
  padding-left:10%;
  padding-right:10%;
}

  #hero h1{
    font-size: 3.8em;
  }

  #hero .line-container{
    gap:15px;
  }
  #hero .subtitle{
font-size:12px;
  }

  #hero .line{
    width:40px;
  }
  .content{

    padding:0 10% 0 10%;
  }

  .image-content{
    min-width:calc(200px + 20vw);
  }
 
  footer .logo{
    font-size:1em;
  }
footer .logo .more{
  width:fit-content;
}
 footer{
    flex-wrap: wrap;
    justify-content: flex-start;
   gap:20px;
height:auto; 
}
}

@media all and (max-width:480px){
  #hero h1{
    font-size:3.2em;
    line-height: 60px;
  }
}

  @media all and (max-width:380px){
  #hero h1{
    font-size:2.6em;
    line-height: 50px;
  }
 

  .content .title{
    font-size: 2.2em;
  }
  .content p{
    font-size:.9em;
  }
  
  .content .readmore{
    font-size: .9em;
  }
  .content .readmore img{
    width:20px;
  }

  .content .image-content img{
    width:20%;
 
  }
  footer{
    font-size:.8em;
  }
  
} 
 

